.venv/
.env
.ipynb_checkpoints/
data/
vector_store/
logdir/
chroma_db/
screenshots/
.DS_Store
log/
log*/
log_langgraph_*/
.idea/
venv/

*.json

chroma*
faiss_db*
cache/
/faiss_db/
faiss_db/
*.faiss
index.faiss

converted_md_for_ml/